<div class="hero">
<div class="ui container">
<h1>Long Island Codes</h1>
<p>
Supporting the Developer Community on Long Island.
</p>
<p class="small">
    We aim to deliver a currated list of developer and tech-centric events, meetups and resources across Long Island. We want to make it easier for developers to connect and learn from each other.
</p>
</div>
</div>


<div class="cozy events">


    <div class="ui container">

        <h2 class="leadin">Slack Community</h2>

        <div class="ui one column grid cozy">
            <p>We are looking to start a slack community for all Long Island Developers, System Administrators, IT Professionals, & Students</p>
        </div>

        <div class="ui one column grid cozy">
            <p>
                <a class="btn" href="https://join.slack.com/t/longislandcodes/shared_invite/enQtMzE5NTg5NzgwMDMyLWY5ZWIxYzE5ZmI3Mzk1NzVkZDdmZmRhNmE2NjUzODA3OWI1ZDBlNWZlZTNjYzIzMmY3NjNiOGMxY2RhNTlmM2M">Join Slack</a>
            </p>
        </div>


        </div>
    </div>
</div>


<div class="snug events">


<div class="ui container">
<h2 class="leadin">Calendar</h2>


<div class="ui one column grid cozy">

<div id='calendar'></div>
</div>
</div>



</div>


<div class="footer">
<div class="ui container" style="text-align: center;">

</div>
</div>


