<html>
    <head>

<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>


<script src="/lib/semantic-ui/semantic.js"></script>

    <link rel="stylesheet" type="text/css" href="/lib/semantic-ui/semantic.css">
    <link rel="stylesheet" type="text/css" href="/main.css">

    <link rel='stylesheet' href='/lib/fullcalendar/fullcalendar.css' />
    <link rel='stylesheet' href='/lib/font-awesome/css/font-awesome.min.css' />
<script src='/lib/momentjs/moment.js'></script>
<script src='/lib/fullcalendar/fullcalendar.js'></script>
<script src='/ready.js'></script>
     

    <title>LI Web Group </title>
    </head>

    <body>

<div class="ui top inverted menu">
  <div class="item">
    LI Web
  </div>
   <a class="item" href="http://www.facebook.com/LIWebGroup">
    <i class="fa fa-facebook"></i>
    Facebook
  </a>

  <a class="item" href="http://www.twitter.com/LIWebGroup">
    <i class="fa fa-twitter"></i>
    Twitter
  </a>

  <a class="item" href="http://www.meetup.com/li-web">
    <i class="fa fa-meetup"></i>
    Meetup
  </a>

  
</div>


    <%- yield %>
    </body>
</html>